.about {
    height: 100%;
    position: relative;
    text-align: left;
}
.about-box {
    margin: 0 auto;
    width: 60%;
}
.about-float {
    float: right;
    margin-left: 40px;
    text-align: center;
}
.my-img {
    background-position: center-top;
    background-size: 140%;
    border-radius: 5px;
    height: 300px;
    margin: 5px;
    opacity: 0.9;
    width: 300px;
}
.expand-skills {
    color: orange;
    cursor: pointer;
    font-weight: 600;
}
.expanded-skills {
    isplay: none;
    padding-left: 20px;
}
.expand-title {
    padding-top: 10px;
    padding-bottom: 2px;
}

/* ICONS */
.skill-icons-box {
    padding: 3vh;
    text-align: center;
}
.skill-icons {
    color: black;
    font-size: 100px;
    margin: 0 auto;
    padding: 0px 20px;
}
.fa-html5 {
    color: tomato;
}
.fa-css3 {
    color: skyblue;
}
.fa-js-square {
    color: #e8cd22;
}
.fa-react {
    color: lightblue;
}
.fa-node-js {
    color: lime;
}
.fa-git {
    color: #777;
}

@media (max-width: 1000px) {
    .my-img {
        width: 200px;
        height: 200px;
    }
    .about-box {
        width: 70%;
    }
}

@media (max-width: 767px) {
    .my-img {
        width: 100px;
        height: 100px;
    }
    .about-box {
        margin: 6vh auto;
        width: 84%;
    }
    .skills-box {
        margin: 6vh 2vw;
    }
}
