.contactBox button {		
	margin-top: 10px;
	padding: 6px 0;
	width: 500px;
}
.form-group {}
.form-group input, .form-group textarea {
	box-sizing: border-box;
	background: none;
	border: none;
	border-bottom: 2px solid #444;
	color: #448888;
	font-size: 18px;
	margin: 20px;
	transition: all 0.3s ease;
	padding: 5px;
	width: 500px;
}
.form-group textarea {
	font-family: "open sans";
	width: 500px;
}
.form-group input:focus {
	border-bottom: 2px solid #339999;
}
.form-group textarea:focus {
	border-bottom: 2px solid #339999;
}

.footer {
	color: #555;
	font-family: 'caveat';
	font-size: 30px;
	padding-top: 12%;
}

@media (max-width: 600px) {
	.form-group textarea {}
}