.contact {
	box-sizing: border-box;
}
.contact p {
	max-width: 80%;
	margin: 0 auto;
}
.contact button {		
	margin-top: 10px;
	width: 500px;
}
.contact h1 {
	padding: 0;
	padding-top: 16px;
	padding-bottom: 10px;
}
.contact form {
	margin-top: 100px;
}
.form-group {}
.form-group input, .form-group textarea {
	box-sizing: border-box;
	background: none;
	border: none;
	border-bottom: 2px solid #444;
	color: #668888;
	font-size: 18px;
	margin: 20px;
	transition: all 0.3s ease;
	padding: 5px;
	width: 500px;
}
.form-group textarea {
	font-family: "open sans";
}
.form-group input:focus {
	border-bottom: 2px solid #339999;
	color: #338888;
}
.form-group textarea:focus {
	border-bottom: 2px solid #339999;
	color: #338888;
}

.footer {
	color: #555;
	font-family: 'caveat';
	font-size: 30px;
	padding-top: 8%;
}
footer .fab {
	color: #555 !important;
	font-size: 30px;
}
footer .fab:hover {
	color: #111 !important;
	font-size: 30px;
}

@media (max-width: 600px) {
	.contact {
		padding: 0 4%;
	}
	.form-group input, .form-group textarea {
		font-size: 16px;
		margin: 10px;
		width: 90%;
	
	}
	.contact form {		
		margin-top: 40px;
	}
	.contact button {
		width: 90%;
	}

	.footer {
		font-size: 20px;
		padding-top: 12%;
		width: 96%;
	}
}