.filter-container {
	margin: 20px;
}
.filter {
	display: block;
}
.filter button {
	margin: 2px 5px;
}
.filter button:hover {
  font-size: 22px;
}
.filter-btn-active {
  	border: 2px solid #226666;
  	color: #339999;
	font-size: 22px;
}
