.filter-container {
	margin: 20px;
}
.filter {
	display: flex;
	justify-content: center;
}
.filter-btn {
	box-shadow: 6px -6px 5px #111;
	display: table;
	margin: 2px 5px;
}
.filter-btn:hover {
  ont-size: 22px;
}
.filter-container p {
}
.filter-btn-active {
  	border: 2px solid #226666;
  	color: #339999;
	ont-size: 22px;
	margin: 2px 8px;
}

@media (max-width: 600px) {
	.filter-btn {
		font-size: 16px;
	}
	.filter-btn:hover {
	  font-size: 18px;
	}
}

@media (max-width: 440px) {
	.filter-btn {
		font-size: 14px;
	}
	.filter-btn:hover {
	  font-size: 16px;
	}
}
