.filter-container {
	margin: 20px;
}
.filter {
	display: flex;
	justify-content: center;
}
.filter-btn {
	display: table;
	margin: 2px 5px;
}
.filter-btn:hover {
  font-size: 22px;
}
.filter-container p {
}
.filter-btn-active {
  	border: 2px solid #226666;
  	color: #339999;
	font-size: 22px;
}

@media (max-width: 600px) {
	.filter-btn {
		font-size: 16px;
	}
	.filter-btn:hover {
	  font-size: 18px;
	}
}
