.front {
	padding-top: 10%;
}
.front h1 {
	font-size: 70px;
	margin: 0;
	padding: 0;
}
.front p {
	font-size: 20px;
}
.front button {
	margin: 40px 5px;
	position: relative;
	z-index: 1;
}
.front button:hover {
	font-size: 22px;
}

@media (max-width: 600px) {
	.front {
		padding-top: 18%;
	}
	.front h1 {
		font-size: 50px;
	}
	.front p {
		font-size: 18px;
	}
}
@media (max-width: 450px) {
	.front h1 {
		font-size: 40px;
	}
	.front p {
		font-size: 18px;
	}
}
@media (max-width: 380px) {
	.front h1 {
		font-size: 30px;
	}
	.front p {
		font-size: 14px;
	}
}
