.hexagon {
    float: left;
    margin-left: 9px;
    margin-bottom: -20px;
}
.hex-top {
  border-bottom: 30px solid #144;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  width: 0;
}
.hex-body {
  background: #122;
  height: 60px; 
  width: 104px;
}
.hex-bot {
  border-top: 30px solid #111;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  width: 0;
}
.hex-row {
  background: green;
}
.hex-row-even {
  margin-left: 57px;
}

.hex-grid {
  float: right;
  margin-top: -300px;
  margin-right: 28px;
}