.hexagon {
    float: left;
    margin-left: 9px;
    margin-bottom: -20px;
}
.hex-top {
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  width: 0;
  transition: border-bottom 0.3s ease;
}
.hex-body {
  height: 60px; 
  width: 104px;
  transition: background 0.3s ease;
}
.hex-bot {
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  width: 0;
  transition: border-top 0.3s ease;
}

.hex-row {
  background: green;
}
.hex-row-even {
  margin-left: 57px;
}

.hex-grid {
  float: right;
  margin-top: -300px;
  margin-right: 28px;
}