.loading-screen {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  z-index: 20;
}
.center-piece {
  margin: auto;
  width: 100%;
  max-width: 100px;
}
.loading-bar {
  height: 3px;
  width: 0%;
  transition: width 1s ease;
}
.loading-bar.loading-bar60 {
  width: 60%;
}
.loading-bar.loading-bar100 {
  width: 100%;
  transition: width 0.1s ease-in;
}
.loading-screen .spinner {
  color: #117777;
  fill: #117777;
  font-size: 40px;
  margin: auto;
}
.ls-done {
  display: none;
  visibility: hidden;
}
