.loading-screen {
  background: rgb(23, 23, 23);
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  z-index: 20;
}
.center-piece {
  background: rgb(28, 28, 28);
  margin: auto;
  width: 100%;
}
.loading-bar {
  background: #119999;
  box-shadow: 0px 0px 30px 1px #00ffff;
  height: 6px;
  width: 0%;
  transition: all 1s ease;
}
.loading-bar.loading-bar60 {
  width: 60%;
  transition: all 0.1s ease-in;
}
.loading-bar.loading-bar100 {
  width: 100%;
}
.loading-screen .spinner {
  color: #117777;
  fill: #117777;
  font-size: 40px;
  margin: auto;
}
.ls-done {
  display: none;
  visibility: hidden;
}
