.loading-screen {
  background: rgba(35, 35, 35, 0.95);
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  z-index: 20;
}
.loading-screen .spinner {
  color: #117777;
  fill: #117777;
  font-size: 40px;
  margin: auto;
}
.ls-done {
  display: none;
  visibility: hidden;
}
