.nav {
	ackground: rgba(255, 255, 255, 0.1);
	position: fixed;
	top: 0; 
	bottom: 0;
	left: 0;
	z-index: 8;
}
.nav-active {}
.nav .fa-gem {
	color: #449999;
	font-size: 30px;
	margin-top: 40px;
	margin-bottom: 0px;
	padding: 0 30px;
}

.nav-btns-container {
	margin-top: 150px;
}
.nav-btn {
	order: 1px solid black;
	color: silver;
	cursor: pointer;
	display: list-item;
	list-style: none;
	padding: 8px 40px;
	position: relative;
	transition: all 0.2s ease-out;
}
.nav-btn-text {
	color: aqua;
	font-size: 92%;
	font-weight: 500;
	letter-spacing: 1px;
	opacity: 0;
	position: absolute;
	top: 24.5%;
	right: -70%;
	text-align: left;
	transition: all 0.2s ease-out;
	visibility: hidden;
	white-space: nowrap;
	width: 0%;	
}
.nav-btn:hover {
	color: #666;
}
.nav-btn:hover .nav-btn-text {
	color: #eee;
	opacity: 1;
	position: absolute;
	visibility: visible;
	width: 100%;
}

.border {
	border-bottom: 2px solid silver;
	margin: 8px 28px;
	width: 40px;
}
.active {
	color: lime;
}
.nav a {
	display: block;
}
.fa-github, .fa-linkedin {
	color: silver;
	cursor: pointer;
	font-size: 30px;
	padding: 8px 12px !important;
	transition: all 0.2s ease;
}
.fa-github:hover {
	color: azure;
}
.fa-linkedin:hover {
	color: azure;
}

@media(max-width: 800px) {
	.nav {
		background: #111;
		overflow: hidden;
		transition: all 0.3s ease;
		width: 80%;
		transform: translateX(-100%);
	}
	.nav-active {
		transform: translateX(0%);
	}
	.nav-btns-container {
		margin-top: 30px;
	}
	.nav-btn {
		border-bottom: 2px solid #222;
		display: flex;
		margin: 0 5%;
	}
	.nav-btn:hover {
		border-bottom: 2px solid #122;
		color: #666;
	}
	.nav-btn:hover .nav-btn-text {
		color: #777;
		opacity: 1;
		position: relative;
		visibility: visible;
		width: 100%;
	}
	.nav-btn-text {
		color: silver;
		font-weight: 700;
		letter-spacing: 3px;
		margin-left: 10px;
		opacity: 1;
		position: relative;
		top: auto;
		right: auto;
		text-transform: uppercase;
		visibility: visible;
		width: 100%;
	}
	.border {
		border-bottom: 2px solid silver;
		margin: 20px auto;
		width: 80%;
	}
	.nav a {
		display: inline;
	}
}
@media (max-width: 400px) {
	.nav-btn {
		padding: 8px 10px;
	}
	.nav-btn-text {
		font-size: 13px;
	}
}