.nav {
	background: transparent;
	display: flex;
	padding: 6vh 5vw;
	position: fixed;
	top: 0; 
	right: 0;
	left: 0;
	text-align: left;
	transition: all 0.5s ease;
	z-index: 8;
}
.nav-btns-container {
	display: flex;
	margin: auto;
	margin-left: 0px;
}
.nav-btn {
	cursor: pointer;
	font-size: 20px;
	letter-spacing: 1px;
	margin: auto 40px auto 0;
	padding: 10px 0;
	transition: all 0.2s ease-out;
}
.dark .nav-btn {}
.light .nav-btn {}
.nav-btn-text {}
.nav-btn-border {
	margin-top: 2px;
	width: 10%;
	transition: all 0.2s ease-out;
}
.nav-btn:hover .nav-btn-border {
	width: 100%;
}
.nav-btn.active {
	color: azure;
}
.nav-btn.active .nav-btn-border {
	border-bottom: 1px solid azure;
	width: 100%;
}

@media(max-width: 800px) {
	.nav {
		display: block;
		overflow-y: auto;
		transition: all 0.3s ease;
		transform: translateX(-100%);
		height: 100vh;
		max-width: 400px;
		width: 100%;
	}
	.nav-active {
		transform: translateX(0%);
	}
	.nav-active .nav-btn.btn0 {
		transform: translateX(0%) !important;
		transition: transform .4s ease;
	}
	.nav-active .nav-btn.btn1 {
		transform: translateX(0%) !important;
		transition: transform .7s ease;
	}
	.nav-active .nav-btn.btn2 {
		transform: translateX(0%) !important;
		transition: transform 1.0s ease;
	}

	.nav-btns-container {
		display: block;
		margin-top: 20%;
		margin-bottom: 10%;
	}

	.nav-btn {
		font-size: 14px;
		letter-spacing: 3px;
		margin: 10px 5%;
		transform: translateX(-50%);
		transition: color 0.3s ease;
	}
	.nav-btn:hover {
		color: #118888;
	}
	.nav-btn-border {
		border-color: #333;
		width: 100%;
	}
	.nav-btn-text {
		margin-left: 10px;
		text-transform: uppercase;
	}
	.nav a {
		display: inline;
	}
}
/*	Logo 1. draft
.Logo {
	background: radial-gradient(to top, #111, #011);
	border-left: 1px solid rgb(200, 100, 200);
	border-bottom: 1px solid rgb(200, 100, 200);
	border-right: 1px solid rgb(100, 200, 200);
	border-top: 1px solid rgb(100, 200, 200);
	border-radius: 4px;
	display: flex;
	margin: auto;
	height: 34px;
	width: 36px;
}
.Logo div {
	color: azure;
	font-family: "lato";
	font-size: 17px;
	margin: auto;
}
*/
.logo-container {
	background: linear-gradient(to top right, tomato 10%, #db2e56 40%, rgb(100, 200, 200));
	border-radius: 4px;
	display: inline-flex;
	margin: auto;
	padding: 1px;
}
.Logo {
	background: radial-gradient(to top, #111, #011);
	border: 1px solid transparent;
	border-radius: 4px;
	display: flex;
	margin: auto;
	height: 38px;
	width: 40px;
}
.Logo div {
	color: azure;
	font-size: 20px;
	margin: auto;
}