.overlay {
	background: #222;
	overflow: auto;
	padding: 50px;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	transition: all 0.5s ease-in-out;
	transform: translateX(100vw);
	visibility: hidden;
	white-space: nowrap;
	width: 100%;
	z-index: 10;
}
.overlay-active {
	transform: translateX(0);
	opacity: 1;
	visibility: visible;
}
.overlay h2 {
	padding-top: 50px;
	padding-bottom: 20px;
}
.overlay h2 small {
	background: #111;
	border-bottom-left-radius: 4px;
	border-top-right-radius: 4px;
	font-size: 13px;
	margin: auto;
	margin-left: 20px;
	padding: 2px 4px;
}
.overlay-container {
	margin: auto;
	white-space: pre-wrap;
	width: 90%;
	max-width: 1100px;
}
.overlay-container p {
	margin: 20px auto;
}
.overlay-image-container {
	margin: 60px auto;
}
.overlay-img {
	display: block;
	width: 1000px;
	margin: 10px auto;
	max-width: 98%;
}
.overlay .nav-icon {
	color: azure;
	cursor: pointer;
	font-size: 30px;
	position: absolute;
	top: 3%;
	right: 3%;
	left: auto;
	transition: all 0.2s ease-in-out;
}

.overlay-btn {
	border: 2px solid #779999;
	color: #779999;
}

.tech {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

.TextImgBox {
	text-align: left;
}
.TextImgBox p {
	font-family: "montserrat";
}

@media (max-width: 1000px) {
	.overlay {
		display: inline-block;
		padding: 50px 30px;
	}
	.overlay-container {
		box-sizing: border-box;
		height: auto;
		width: 100%;
	}
	.overlay-container p {
		text-align: left;
	}
}
@media (max-width: 600px) {
	.overlay {
		padding: 50px 20px;
	}
}
