.services {
    border: 2px solid silver;
}
.service {
    border: 2px solid white;
    height: 60vh;
}
/*================== service ====================*/
.services-text-box {
    box-sizing: border-box;
    margin: 0 auto;
    width: 60%;
}
.services-text-box p {
    padding: 0 2%;
    text-align: left;
}
.serviceBox {
    display: inline-block;
    margin-top: 10vh;
    text-align: center;
    width: 20%;
    min-width: 300px;
}
.serviceCircle {
    border-radius: 50%;
    height: 10vw;
    position: relative;
    margin: 0 auto;
    width: 10vw;
    transition: all 0.3s ease;
}
.icon {
    text-align: center;
    position: relative;
    top: 20%;
    width:60%;
}
.serviceTitle {
    color: #448888;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 0px 30px 0px;
}
.serviceBorder {
    border-bottom: 1px solid brown;
    border-radius: 50%;
    margin: 0px 5vw;
}
.serviceText {
    color: silver;
    margin: 0 auto;
    text-align: center;
    padding: 30px 1vw 10vh 1vw;
    width: 70%;
}
.webDes {
    color: #d16455;
}
.webDev {
    color: #714089;
}
.backend {
    color: #1ec503;
}
.socialMedia {
    color: #58b2d8;
}


.dark-bg {
    background: rgba(0, 0, 0, 0.6);
    color: white;
}

@media (max-width: 1000px) {
    .services-text-box {
        width: 70%;
    }
}
@media (max-width: 676px) {
  .services-text-box {
      margin-bottom: 30px;
      width: 90%;
  }
  .serviceBox {
    position: relative;
    margin-top: 20px;
    min-width: none;
    width: 90%;
  }
  .serviceCircle {
    float: left;
    margin-top: 0%;
    text-align: left;
    height: 14vw;
    width: 14vw;
  }
  .serviceTitle {
    float: left;
    padding: 0;
    text-align: left;
    width: 80%;
  }
  .serviceBorder {
    display: none;
  }
  .serviceText {
    margin-right: 4%;
    padding: 0;
    position: relative;
    text-align: left;
    width: 80%;
  }
}