.social-media-icons {
	display: flex;
}
.social-media-icons a {
	display: flex;
	margin: auto 15px;
}
.social-media-icons i {
	cursor: pointer;
	font-size: 22px;
	padding: 2px 4px;
	transition: color 0.2s ease;
}

@media (max-width: 800px) {
	.social-media-icons {
		justify-content: space-around;
		argin: auto;
		margin-right: 0;
		padding: 0 30%;
	}
}