.about {
    background: rgb(33, 33, 33);
    height: 100%;
    padding: 3% 15%;
    position: relative;
    text-align: center;
}
.about .text {
    font-size: 22px;
    line-height: 1.8;
    margin: 6px auto;
    max-width: 700px;
    text-align: left;
}
.about .text b {
    color: #118888;
}
.about .text i.fa-quote-left { 
    margin-left: -20px;  
    text-align: left;
    width: 100%;
}
.about .text i.fa-quote-right { 
    margin-left: 20px;   
    text-align: right;
    width: 100%;
}
.about .vertical-line {
    border: 1px solid #444;
    display: inline-block;
    height: 80px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 40px;
}
.about .flex-container {
  
}
.about .flex-container i {
  color: silver;
  margin: auto 5px;
}
.about-img {
    background: url("/images/atti.jpg");
    background-position: center-top;
    background-size: cover;
    border-radius: 50%;
    margin: auto;
    width: 250px;
    height: 250px;
    }

.dark-bg {
    background: rgba(0, 0, 0, 0.6);
    color: white;
}

@media (max-width: 1000px) {
    .about-img {
        width: 200px;
        height: 200px;
    }
    .about-box {
        width: 70%;
    }
}

@media (max-width: 767px) {
    .about {
        padding: 10% 9%;
    }
    .about-img {
        height: 150px;
        width: 150px;
    }
    .about-box {
        margin: 6vh auto;
        width: 84%;
    }
    .about .text {
        font-size: 18px;
        line-height: 1.4;
    }
    .serviceBox {
      position: relative;
      margin-top: 20px;
      min-width: none;
      width: 100%;
    }
    .serviceCircle {
      float: left;
      margin-top: 0%;
      text-align: left;
      height: 14vw;
      width: 14vw;
    }
    .serviceTitle {
      float: left;
      padding: 0;
      text-align: left;
      width: 80%;
    }
    .serviceBorder {
      display: none;
    }
    .serviceText {
      margin-right: 4%;
      padding: 0;
      position: relative;
      text-align: left;
      width: 80%;
    }
}
