.contact {
	box-sizing: border-box;
	position: relative;
	z-index: 2;
  	transition: background 0.3s ease;
}
.contact p {
	max-width: 60%;
	margin: 0 auto;
}
.contact button {		
	margin-top: 10px;
	width: 500px;
}

.contact form {
	margin-top: 100px;
}
.form-group {}
.form-group input, .form-group textarea {
	box-sizing: border-box;
	background: none;
	border: none;
	font-size: 18px;
	margin: 20px;
	padding: 5px;
	width: 500px;
	transition: color .3s ease, 
		border-bottom .3s ease;
}

.hex-grid {
	position: absolute;
	bottom: -30%;
	right: 0;
	transition: opacity 0.3s ease;
}

.footer {
	ackground: rgb(28, 28, 28);
	color: #555;
	font-family: 'caveat';
	font-size: 30px;
	padding-top: 8%;
	padding-bottom: 3%;
	position: relative;
	transition: background 0.3s ease;
}
footer .fab {
	color: #555 !important;
	font-size: 30px;
}
footer .fab:hover {
	color: #111 !important;
	font-size: 30px;
}

@media (max-width: 600px) {
	.contact {
		padding: 0 4%;
	}
	.contact p {
		max-width: 90%;
	}
	.form-group input, .form-group textarea {
		font-size: 16px;
		margin: 10px;
		width: 90%;
	
	}
	.contact form {		
		margin-top: 40px;
	}
	.contact button {
		width: 90%;
	}

	.footer {
		font-size: 20px;
		padding-top: 12%;
		width: 96%;
	}
}