.Head {
	background: linear-gradient(to top, #111, #122);
	display: flex;
	min-height: 100vh;
	pointer-events: none;
}
.banner {
  margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  max-width: 1020px;
  width: 92%;
}
.Head p {
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: left;
}
.Head p b {
    color: #118888;
}
@media(max-width: 1100px) {
    .Head p {
        font-size: 24px;
    }
}
@media(max-width: 767px) {
    .banner {
        width: 96%;
    }
    .Head p {
        font-size: 20px;
    }
}
