.Head {
	background: linear-gradient(to top, #111, #122);
	display: flex;
	min-height: 100vh;
	pointer-events: none;
}

@media (max-width: 600px) {
	.front {
		padding-top: 18%;
	}
	.front h1 {
		font-size: 50px;
	}
	.front p {
		font-size: 18px;
	}
}
@media (max-width: 450px) {
	.front h1 {
		font-size: 40px;
	}
	.front p {
		font-size: 18px;
	}
}
@media (max-width: 380px) {
	.front h1 {
		font-size: 30px;
	}
	.front p {
		font-size: 14px;
	}
}
