.overlay {
	background: rgba(20, 20, 20, 0.9);
	display: flex;
	opacity: 0;
	padding: 6px 0;
	position: fixed;
	top: 10%;
	right: 0;
	bottom: 10%;
	transition: all 0.5s ease;
	transform: translateX(100vw);
	visibility: hidden;
	white-space: nowrap;
	width: 100%;
	z-index: 10;
}
.overlay-text-box, .overlay-img-box {
	box-sizing: border-box;
	height: 100%;
	width: 50%;
}
.overlay-text-box {
	overflow: auto;
	padding-left: 150px;
	text-align: left;
	white-space: pre-wrap;
}
.overlay-text-box p {
	margin-bottom: 36px;
	width: 80%;
}
.overlay-text-box li {
	list-style: circle;
	margin: 5px 20px;
}
.overlay-img-box {
	overflow-y: auto;
}
.overlay-img {
	display: block;
	width: 700px;
	margin: 10px auto;
	max-width: 98%;
}
.overlay .fa-times-circle {
	color: azure;
	cursor: pointer;
	font-size: 30px;
	position: absolute;
	top: 2%;
	right: 2%;
	transition: all 0.2s ease-in-out;
}
.overlay .fa-circle:hover {
	color: tomato;
}

.overlay-btn {
	border: 2px solid #779999;
	color: #779999;
}

@media (max-width: 1000px) {
	.overlay {
		display: inline-block;
		top: 0;
		bottom: 0;
		overflow: auto;
	}
	.overlay-text-box, .overlay-img-box {
		order: 1px solid white;
		box-sizing: border-box;
		height: auto;
		padding: 50px;
		width: 100%;
	}
	.overlay-text-box p {
		width: 98%;
	}
}
@media (max-width: 600px) {
	.overlay-text-box, .overlay-img-box {
		padding: 20px;
	}
}
