.work {
	box-sizing: border-box;
	min-height: 100vh;
    padding: 3%;
  	text-align: center;
  	margin: 0 auto;
}

.work-box {
	background: #222;
	border-bottom-left-radius: 12px;
	border-top-right-radius: 12px;
	color: silver;
	cursor: pointer;
	display: inline-flex;
	font-family: 'raleway';
	font-size: 20px;
	justify-content: center;
	margin: 10px;
	padding: 50px 0;
	position: relative;
	transition: all 0.5s ease-out;
	width: 400px;
}
.work-box:hover {
	color: #448888;
}
.work-box-img {
	box-shadow: 0px 0px 10px 1px #448888;
	border-radius: 50%;
	border: 1px solid #339999;
	position: absolute;
	top: 10%;
	left: 3%;
	height: 0;
	transition: all 0.2s ease-out;
	width: 94%;
	z-index: 3;
}
.work-box:hover .work-box-img {
	border: 2px solid azure;
	box-shadow: 0px 0px 10px 1px azure;
	width: 0%;
}
.work-box:hover .work-box-img-extend {
	border: 2px solid #339999;
	box-shadow: 0px 0px 10px 1px #339999;
	width: 94% !important;
}
.work-box:hover .work-box-img-active {
	border-radius: 10px;	
	height: 170% !important;
	top: -160% !important;
}
.work-box-img-extend {
	transition: all 0.5s ease-in-out;
}
.work-box-img-active {
	transition: all 0.2s ease-in;
}
.work-box-text {
	position: relative;
	z-index: 2;
}
.work-box i {
	color: #333;
	font-size: 80px;
	position: absolute;
	top: 30%;
	right: 2%;
	visibility: hidden;	/*  disable icons for <workBox />  */
	z-index: 1;
}


.bright i {
	color: rgba(45, 45, 45, 1);
}
.dark i {
	color: rgba(45, 45, 45, 1);
}

.bright {
	background: rgba(54, 54, 54, 1);
}
.dark {
	background: rgba(36, 36, 36, 1);
}

.no-projects {
	margin-top: 50px;
}

@media (max-width: 700px) {
	.work-box {
		width: 90%;
	}
}