.App {
  background-color: #333;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}
section {
  background: linear-gradient(to top right, rgba(0, 0, 0, 0.3), #333);
  box-sizing: border-box;
  min-height: 100vh;
  overflow: hidden;
  opacity: 0;
  padding: 2% 0;
  position: relative;
  transition: all .7s ease-out;
  width: 100vw;
}
.appear {   /*  animation  */
  opacity: 1;
}
h1 {
  color: #448888;
  font-family: 'Audiowide';
  font-size: 50px;
  padding: 20px 0;
}
h2 {
  color: #448888;
  font-family: 'Audiowide';
}
p {
  font-family: 'raleway';
}

button {
  background: none;
  border: 2px solid #889999;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px #111;
  color: #889999;
  cursor: pointer;
  font-size: 20px;
  margin: auto;
  transition: all 0.3s ease;
  white-space: nowrap;
}
button:hover {
  border: 2px solid #226666;
  color: #339999;
}

/* loading screen */
.loading-screen {
  background: rgba(235, 255, 255, 0.5);
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
}
.loading-screen-done {
  background: rgba(235, 255, 255, 0.5);
  display: none;
  z-index: 20;
}
.loading-screen .fa-spinner {
  font-size: 30px;
  margin: auto;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

/*title-anim */
.title-anim {
}
.title-anim-1 {
  background: none;
  color: #228888;
  transition: all 0.3s ease-in;
}
.title-anim-2 {
  background: #228888;
  color: silver;  
  transition: all 0.5s ease-out;
}