.App {
  background: linear-gradient(to top, #111, #122);
  min-height: 100vh;
  overflow: hidden;
  text-align: center;
}

.banner {
  margin: auto;
  position: relative;
  max-width: 1020px;
  width: 92%;
}
.banner * {
  margin: auto;
}
.half-screen {
  display: flex;
  width: 50%;
}

.section-bg {
  position: relative;
  z-index: 2;
}
.toAppear {
  overflow: hidden;
  opacity: 0;
  position: relative;
  transform: scale(0.96);
  transition: all 0.6s ease;
}
.appear {   /*  animation  */
  opacity: 1;
  transform: scale(1);
}


.noscroll {
  overflow: hidden;
}

@media (max-width: 800px) {
  .section {
    padding: 0;
  }
}