* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
html {
  	margin: 0;
  	padding: 0;
}
body {
	color: silver;
  margin: 0;
  padding: 0;
  font-family: 'raleway', sans-serif;
}

h1 {
  color: #118888;
  font-family: 'Audiowide';
  font-size: 50px;
  padding: 50px 0;
}
h2 {
  color: #118888;
  ont-family: 'Audiowide';
}
h3 {
  color: #118888;
  font-family: 'raleway';
  font-weight: 500;
  margin: 10px auto;
  padding: 0;
}
p {
  font-family: 'raleway';
  font-size: 18px;
  line-height: 1.6;
}

button {
  background: none;
  border: 2px solid #889999;
  border-radius: 4px;
  color: #889999;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 1px;
  margin: auto;
  padding: 3px 6px;
  pointer-events: auto;
  transition: all 0.3s ease;
  white-space: nowrap;
}
button:hover {
  border: 2px solid #226666;
  color: #339999;
  letter-spacing: 2px;
}
a {
  text-decoration: none;
}

@media (max-width: 767px) {
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 18px;
  }
}
